body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
     background-color:#faf8d7;
}

.navbar-main-container {
    width: 100%;
    background:#192546;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;    
    top: 0;              
    left: 0;             
    width: 100%;
    z-index: 999;  
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.project-name {
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    align-items: center;
    gap: 400px;
}